<footer>
    <div class="first-div">
        <% if (!isAdmin && !user) { %>
        <a href="/admin/log-in">Admin Log In</a>
        <%}%>
        <a href="/">About</a>
        <a href="/">Support</a>

    </div>
    <div class="center-div">
        <a href="/" class="insta"></a>
        <a href="/" class="facebook"></a>
        <a href="/" class="twitter"></a>
        <a href="/" class="youtube"></a>
    </div>
    <div class="last-div">
        <a href="/">
            <h4>Terms Of Service</h4>
        </a>
        <a href="/">
            <h4>Privacy</h4>
        </a>
        <a href="/">
            <h4>Contact Us</h4>
        </a>
    </div>
</footer>