@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    color: darkslategray;
    position: relative;
    font-family: 'Poiret One', cursive;
}
nav{
    position: absolute;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background-color: rgb(29, 29, 29);
    box-shadow: 5px 0 5px black;
    z-index: 2;
}
a{
    text-decoration: none;
}
.admin-container{
    display:flex;
    align-items: center;
}
.admin-container input{
    margin-left: 5px;
    padding: 9px;
    border-radius: 5px;
    background-color:  rgb(29, 29, 29);
    border: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.603);
    cursor: pointer;
    outline: none;
}
.admin-container input:hover{
    background-color: rgb(196, 0, 0);
}
.admin{
    background-color: rgb(197, 197, 197);
    padding: 4px 10px;
    border-radius: 5px;
    height: 25px;
}
strong{
    color: rgb(168, 0, 0);
}

nav a{
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid transparent;
}
nav a:hover{
    border: 1px solid rgba(255, 255, 255, 0.342);
    background-color: rgb(66, 0, 0);
    color: white;    
}
nav ul{
    display: flex;
}
nav li {
    list-style: none;
    margin: 0 12px;
}
/* Welcome page */
.welcome{
    height: 570px;
    background-image: url("/images/index2.jpg");
    margin: auto;
    background-size: cover;
    color: rgb(5, 5, 5);
    font-weight: 900;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opacity-title{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.267);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    text-shadow: 2px 2px rgb(255, 255, 255);
    z-index: 1;
    margin-bottom: 20px;
}
.welcome a{
    z-index: 1;
    padding: 10px 70px;
    font-size: 1.9em;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
}
.log-container{
    margin: 15px;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.log-in{
    background-color: rgb(255, 255, 255);
    color: darkslategray;
    border: 1px solid rgba(47, 79, 79, 0.377);
}
.log-in:hover{
    background-color: rgb(255, 196, 0);
}
.sign-up{
    background-color: rgb(47, 79, 79);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.404);
}
.sign-up:hover{
    background-color: rgb(255, 196, 0);
    color: darkslategrey;
}



.our-selection{
    text-align: center;
    padding: 100px 0;
    margin: 40px auto;
    font-size: 5em;
    text-shadow: 1px 1px 2px darkslategray;
}


/* wine list */
.container{
    margin-bottom: 100px;
}
.wine-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
}
.detail{
    padding: 4px 20px;
    transition: .3s ease-in;
    width: 230px;
}
.wine-name{
    height:45px;

}
.wine{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(71, 71, 71, 0.205);
    transition: .3s ease-in;
}
.wine:hover .detail{
    background-color: rgba(211, 211, 211, 0.616);
}

.wine a{
    color: darkslategray;

}