<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Log In</title>
    <%- include ('../partials/bootstrap-head.ejs') %>
    <link rel="stylesheet" href="/css/admin-log.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark justify-content-end">
        <a href="/" class="btn btn-outline-warning">Home</a>
    </nav>
    <div class="row container">
        <div class="col-5">
            <h2>Log In</h2>
            <form action="/sessions" method="POST" class="form-group">
                <label for="name">Username:</label>
                <input type="text" name="username" required class="form-control" />
                <label for="color">Password:</label>
                <input type="password" name="password" class="form-control" required />
                <br>
                <input type="submit" value="Submit" class="btn btn-secondary btn-block">
            </form>
        </div>

        <img src="/images/log-in.jpg" alt="" class="col-6">

    </div>
    <%- include ('../partials/bootstrap-js.ejs') %>
</body>

</html>